<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to 'Add Role', new_role_path, :class => 'btn btn-primary' %>
<%= link_to 'Hide Roles', roles_path, :class => 'btn btn-primary' %>
<%= link_to 'Add User', new_user_path, :class => 'btn btn-primary' %>
<%= link_to 'Show Users', users_path, :class => 'btn btn-primary' %>